:root{
    --font-dm-sans: "DM Sans", sans-serif;
    --bg-icon: #131313;
    --bg-arrow-color:rgba(0, 0, 0, 7);
    --color-white: #fff;
    --color-black: #000;
    --dark-gray: #121212;
    --light-gray: #b3b3b3;
}